# --- C++ Junk ---
build/
out/
.cmake/
*.exe
*.obj
*.pdb
*.log
Flight_Telemetry.csv
__pycache__/

# --- Unreal Engine 5 Junk ---
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.sln
*.suo

# --- UE5 Test Levels (not part of this project) ---
Heart_Digital_Twin/Content/test1.umap
Heart_Digital_Twin/Content/test1_HLOD0_Instancing.uasset
Heart_Digital_Twin/Content/test99.umap
Heart_Digital_Twin/Content/test99_HLOD0_Instancing.uasset
Heart_Digital_Twin/Content/__ExternalActors__/test1/
Heart_Digital_Twin/Content/__ExternalActors__/test99/
Heart_Digital_Twin/Content/__ExternalObjects__/test1/
Heart_Digital_Twin/Content/__ExternalObjects__/test99/

# --- COMSOL ---
*.mph.lock